In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'])

In [3]:
s

a    1.962417
b   -0.860986
c    0.304188
d    0.950094
e    1.409179
dtype: float64

In [4]:
pd.Series(np.random.randn(5))

0    0.972564
1   -1.134109
2   -0.107277
3    0.459911
4    1.130684
dtype: float64

In [5]:
s+s

a    3.924834
b   -1.721972
c    0.608377
d    1.900188
e    2.818359
dtype: float64

In [6]:
s*2

a    0.624418
b   -2.249947
c   -2.143014
d   -1.197906
e    0.512872
dtype: float64

In [7]:
s[1:]+s[:-1]

a         NaN
b   -1.721972
c    0.608377
d    1.900188
e         NaN
dtype: float64

In [8]:
d = {'one' : pd.Series([1.,2.,3.],index=['a','b','c']),
     'two' : pd.Series([1.,2.,3.,4.],index=['a','b','c','d'])}

In [9]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64,
 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [10]:
df = pd.DataFrame(d)

In [11]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [12]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
df.columns

Index(['one', 'two'], dtype='object')

In [14]:
df.to_csv('BDMI.csv')

In [15]:
df_2 = pd.read_csv('BDMI.csv')

In [16]:
df_2

  Unnamed: 0  one  two
0          a  1.0  1.0
1          b  2.0  2.0
2          c  3.0  3.0
3          d  NaN  4.0

In [17]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [18]:
df.loc['a']

one    1.0
two    1.0
Name: a, dtype: float64

In [19]:
df.iloc[0]

one    1.0
two    1.0
Name: a, dtype: float64

In [20]:
dates = pd.date_range('20201013',periods=6)

In [21]:
dates

DatetimeIndex(['2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16',
               '2020-10-17', '2020-10-18'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df_data = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [23]:
df_data

                   A         B         C         D
2020-10-13 -1.306577  1.349374  0.645363  1.052033
2020-10-14 -1.400359  0.225960 -0.216934  0.509910
2020-10-15 -0.803978 -1.225785 -0.014694  0.901230
2020-10-16 -0.723000  1.527116 -2.033375 -0.076240
2020-10-17  1.372222  0.263691  1.057796  0.120970
2020-10-18 -1.269953 -0.239283 -1.117896  0.642246

In [28]:
classmates = {
    'wangxu': pd.Series(['201921****','male'],index = ['ID','gender']),
    'zhengyu':pd.Series(['201831****','male'],index = ['ID','gender'])
}

In [29]:
classmates

{'wangxu': ID        201921****
 gender          male
 dtype: object, 'zhengyu': ID        201831****
 gender          male
 dtype: object}

In [30]:
df_classmates = pd.DataFrame(classmates)

In [31]:
df_classmates = df_classmates.T

In [32]:
df_classmates

                 ID gender
wangxu   201921****   male
zhengyu  201831****   male

In [33]:
df_classmates.loc['wangxu']

ID        201921****
gender          male
Name: wangxu, dtype: object

In [31]:
from sqlalchemy import create_engine

#参数字段 sqlite:///<database path>
engine = create_engine('sqlite:///test.db')

写入数据库

In [32]:
df_classmates.to_sql('tb_test',con=engine)

读取数据库

In [33]:
with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table('tb_test', conn)

In [34]:
data

     index          ID gender
0   wangxu  201921****   male
1  zhengyu  201831****   male